RewriteEngine on

# réécriture de about (^a : commence avec un a et t$ : fini avec un t) par about.html
# RewriteRule ^about$ about.html [NC]

# réécriture de index/login ou index en routage.php?page=login
RewriteRule ^index.php/([A-Za-z0-9]+) index.php?page=$1

